body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.progress-custom {
        position: relative;
        width: 400px;
        border: 1px solid #ddd;
        padding: 1px;
    }

    .progress-bar-custom {
        width: 0px;
        height: 20px;
        background-color: #57be65;
    }

.thumbnail-custom {
    position: relative;
    border: none;
}

.caption-custom {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.thumbnail-custom .caption-custom {
    color: #dddddd;
}

.circle-list {
    margin-left: -180px;
}

    .img-circle-custom {
        margin-top: 35px;
        width: 75px;
        border-radius: 50%;
        height: 75px;
        background: rgba(0, 0, 0, 0.5);
        display: inline-block;
    }

.prize {
    background: #f5f5f5;
}
