@{
    ViewBag.Title = "About";
}

<div class="row text-center">
    <h3>@ViewBag.Message</h3>
    <h1><a href="https://github.com/TeamENVISION/ImageContestSystem-Web-App">TeamENVISION</a></h1>
</div>