
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ICM</h1>
</div>

@using (Ajax.BeginForm("Upload", "PicturesUpload", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="file" name="files" id="fu1" />
    <input type="submit" value="Upload File" />

}

<div class="progress">
    <div class="progress-bar">0%</div>
</div>
<div id="status"></div>
<style>
    .progress {
        position: relative;
        width: 400px;
        border: 1px solid #ddd;
        padding: 1px;
    }

    .progress-bar {
        width: 0px;
        height: 20px;
        background-color: #57be65;
    }
</style>





@section Scripts
{

@Scripts.Render("~/bundles/jqueryval")

<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    (function () {
        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentValue = '0%';
                bar.width(percentValue);
                percent.html(percentValue);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentValue = percentComplete + '%';
                bar.width(percentValue);
                percent.html(percentValue);
            },
            success: function (d) {
                var percentValue = '100%';
                bar.width(percentValue);
                percent.html(percentValue);
                $('#fu1').val('');
                alert(d);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });
    })();
</script>



    @*<script type="text/javascript">
        $(document).ready(function() {

            $('#btnUploadFile').on('click', function() {

                var data = new FormData();

                var files = $("#fileUpload").get(0).files;

                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }

                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/pictures/upload",
                    contentType: false,
                    processData: false,
                    data: data
                });

                ajaxRequest.done(function(xhr, textStatus) {
                    $(".jumbotron").html("OK");
                });
            });
        });
    </script>*@
}
