@using PagedList.Mvc
@model PagedList.IPagedList<ImageContestSystem.Web.Models.ViewModels.ContestViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ICM</h1>
</div>

<div class="row">
    @Html.DisplayFor(contest => contest)
</div>

@Html.Partial("_UploadButton")

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Scripts{
    <script src="http://malsup.github.com/jquery.form.js"></script>

<script>
    $('#fu1').change(function () {
        var file = $('<li class="list-group-item" id="subfile"></li>').html($(this).val());
        $('.list-group').html(file);

    });

    $("input[name=files]").change(function () {
        var names = [];
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            names.push($('<li class="list-group-item" id="subfile"></li>').html($(this).get(0).files[i].name))
        }
        $('.list-group').html(names);
        $('.list-group').append('<input type="submit" value="Upload" class="btn btn-primary" />');
    });
</script>

<script>
    (function () {
        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');
        var progress = $('.progress').hide();


        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentValue = '0%';
                bar.width(percentValue);
                percent.html(percentValue);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                progress.show();
                status.show();
                var percentValue = percentComplete + '%';
                bar.width(percentValue);
                percent.html(percentValue);
            },
            success: function (d) {
                var percentValue = '100%';
                bar.width(percentValue);
                percent.html(percentValue);
                $('#fu1').val('');
                setTimeout(function () { progress.hide().fadeOut(500); }, 1000);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
                setTimeout(function () { status.hide("slow"); }, 1500);
                $('#files-list').html('');
            }
        });
    })();
</script>
}