@using PagedList.Mvc
@model PagedList.IPagedList<ImageContestSystem.Web.Models.ViewModels.ContestViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ICS TeamENVISION</h1>
</div>

<div class="row">
    @Html.DisplayFor(contest => contest)
</div>


@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Scripts{
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        $('#fu1').change(function() {
            var file = $('<li class="list-group-item" id="subfile"></li>').html($(this).val());
            $('.list-group').html(file);

        });

        $("input[name=files]").change(function() {
            var names = [];
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                names.push($('<li class="list-group-item" id="subfile"></li>').html($(this).get(0).files[i].name))
            }
            $('.list-group').html(names);
            $('.list-group').append('<input type="submit" value="Upload" class="btn btn-primary" />');
        });

        (function() {
            var bar = $('.progress-bar-custom');
            var percent = $('.progress-bar-custom');
            var status = $('#status-custom');
            var progress = $('.progress-custom').hide();


            $('form').ajaxForm({
                beforeSend: function() {
                    status.empty();
                    var percentValue = '0%';
                    bar.width(percentValue);
                    percent.html(percentValue);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    progress.show();
                    var percentValue = percentComplete + '%';
                    bar.width(percentValue);
                    percent.html(percentValue);
                },
                success: function(d) {
                    var percentValue = '100%';
                    bar.width(percentValue);
                    percent.html(percentValue);
                    $('#fu1').val('');
                    setTimeout(function() { progress.hide().fadeOut(500); }, 1000);
                },
                complete: function (xhr) {
                    console.log(xhr.responseText);
                    if (xhr.responseText == '"error"') {
                        status.html($('<div/>').html('Fail upload was unsuccessfull.').addClass('alert alert-danger'));
                    } else {
                        status.html($('<div/>').html(xhr.responseText).addClass('alert alert-info'));
                    }
                    $('#files-list').html('');
                    setTimeout(function() { status.empty(); }, 1500);
                }
            });
        })();
    </script>

    <script>
        $.each($('.col-xs-12'), function(i) {
            $("#myCarousel").attr('id', 'myCarousel' + i);
            $('#myCarousel' + i + ' .carousel-control').attr('href', '#myCarousel' + i);
            $('#myCarousel' + i + ' .carousel-inner div:first').addClass('active');
        });
    </script>
}