@model ImageContestSystem.Web.Models.ViewModels.ContestViewModel

<div class="col-md-6 col-sm-6 col-xs-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var picture in Model.PicturesUrl)
            {
                <div class="item">
                    <a href="/Contest/@Model.ContestId">
                        <img src="@picture" alt="@picture"/>
                        <div class="carousel-caption">
                            <h3>@Model.Title</h3>
                            <p>@Model.Description</p>
                        </div>
                    </a>
                </div>
            }
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>