@using ImageContestSystem.Models
@model List<ImageContestSystem.Web.Models.ViewModels.NotificationViewModel>
@{
    ViewBag.Title = "Notifications";
}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center">Sent On</th>
            <th class="text-center">Sender</th>
            <th class="text-center">Message</th>
            <th class="text-center">Reply</th>
        </tr>
        </thead>
        <tbody>

            @foreach (var notification in Model)
            {
                <tr>
                    <td class="text-center">@notification.CreatedOn</td>
                    <td class="text-center">@notification.Sender</td>
                    <td>@notification.Content </td>
                    @if(@notification.InviteType == @InvitationType.Custom)
                    {
                        <td><p class="btn btn-block btn-danger">Already Replied</p></td>
                    }
                    else
                    {
                        <td><a class="btn btn-block btn-success" href="Notifications/Reply/@notification.NotificationId">Reply</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
